apiVersion: v1
kind: Service
metadata:
  name: fashion-alchemist-pod
  namespace: danispace
  labels:
    app: fashion-alchemist
    app.kubernetes.io/name: fashion-alchemist-service
    app.kubernetes.io/component: networking
spec:
  type: ClusterIP
  selector:
    app: fashion-alchemist
  ports:
    - name: approuter
      port: 5000
      targetPort: 5000
      protocol: TCP
    - name: frontend
      port: 80
      targetPort: 80
      protocol: TCP
    - name: backend
      port: 3001
      targetPort: 3001
      protocol: TCP
